# üìä T·ªïng quan D·ªØ li·ªáu - EDA (Exploratory Data Analysis)

## 1. C√†i ƒë·∫∑t c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## 2. Load d·ªØ li·ªáu

In [17]:
train_df = pd.read_csv("../data/train.csv")

## 3. T·ªïng quan d·ªØ li·ªáu

### 3.1. Hi·ªÉn th·ªã 5 d√≤ng ƒë·∫ßu ti√™n

In [18]:
print(train_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### 3.2. Ki·ªÉm tra th√¥ng tin t·ªïng quan c·ªßa d·ªØ li·ªáu
L·ªánh info() s·∫Ω cung c·∫•p c√°i nh√¨n t·ªïng qu√°t v·ªÅ s·ªë l∆∞·ª£ng d√≤ng, lo·∫°i d·ªØ li·ªáu c·ªßa c√°c c·ªôt, v√† s·ªë l∆∞·ª£ng gi√° tr·ªã kh√¥ng thi·∫øu (non-null) trong t·ª´ng c·ªôt.

In [19]:
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### 3.3. Th·ªëng k√™ m√¥ t·∫£ v·ªÅ d·ªØ li·ªáu

L·ªánh describe() s·∫Ω gi√∫p ch√∫ng ta xem x√©t c√°c th·ªëng k√™ m√¥ t·∫£ c·ªßa c√°c c·ªôt s·ªë, bao g·ªìm trung b√¨nh (mean), ƒë·ªô l·ªách chu·∫©n (std), gi√° tr·ªã min, max v√† c√°c quartile.

In [20]:
print(train_df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

### 3.4. Ki·ªÉm tra d·ªØ li·ªáu b·ªã thi·∫øu

Ch√∫ng ta c·∫ßn ki·ªÉm tra xem c√≥ bao nhi√™u gi√° tr·ªã b·ªã thi·∫øu trong t·ª´ng c·ªôt ƒë·ªÉ chu·∫©n b·ªã cho b∆∞·ªõc x·ª≠ l√Ω d·ªØ li·ªáu thi·∫øu.

In [21]:
print(train_df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64